################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuantSASetup/.vs/QuantSASetup/v14/.suo
