################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuantSASetup/.vs/QuantSASetup/v14/.suo
/QuantSASetup/QuantSASetup/QuantSASetup/Express
/QuantSASetup/packages
/QuantSASetup/AddAddInToExcel/bin/Debug
/QuantSASetup/AddAddInToExcel/obj
/QuantSASetup/UpdateXLFunctions.exe
